*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root{
    --title-color:#FDB44B;
    --text-color-right:#F1F8FD;
    --text-color-left:#D6DBDFAF;
}
html{
    font-size: 62.5%; /* 1em = 10px */
}
body {
    background-color: #70c6c7;
}
/*resume container */
.resume-container {
    height: 100%;
    width: 80%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row; 
}
.resume-container .left-container{
    width: 30%;
    background-color:#00204A;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 0 5%;
}
/*left container */
.left-container img{
    width: 234px;
    height: 246px;
    border: 8px solid #1B2631;
    border-radius: 50%;
    margin: 3.2em 0em;
}
.left-container #name{
    color:var(--text-color-left);
    font-style: normal;
    font-weight: 400;
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.left-container #profession{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #1B2631;
    padding-bottom: 19px;
}
/* contact section */
.left-container .contact-container{
    margin: 46px 0px;
}
.contact-container #title{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
}
.contact-container ul{
    color: var(--text-color-left);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    margin-top: 31px;
}
.contact-container ul li{
    line-height: 31px;
}
/* skills section */
.left-container .skills-container{
    margin-bottom: 32px;
}
.skills-container #title{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    text-transform: uppercase;
}
.skills-container ul{
    color: var(--text-color-left);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    margin-top: 31px;
}
.skills-container ul li{
    line-height: 31px;
}
/*right container */
.resume-container .right-container{
    width: 70%;
    background-color:#4B6982;
    border-radius: 0px 60px 0px 0px;
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}
/* about section */
.right-container .about{
    margin: 60px 0;
}
.right-container #about-me{
    color:#70C6C7;
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
    text-transform: uppercase;
    margin-bottom: 38px;
}
.right-container p{
    color: var(--text-color-right);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
    line-height: 32px;
}
.right-container p:nth-child(2){
    margin-bottom: 27px;
    margin-top: 38px;
}
/* experience section */
.right-container .expe-enterprise1,
.right-container .expe-enterprise2,
.right-container .expe-enterprise3{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    width: 100%;
    margin-bottom: 36px;
}
.experience-container #experience{
    color:#70C6C7;
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
    text-transform: uppercase;
}
.experience-container .exp-left,
.experience-container .exp-right{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 38px;
}
.experience-container #exp-company-name{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.experience-container #exp-time-period{
    color: var(--text-color-right);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
}
.experience-container #exp-position{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.experience-container #exp-description{
    color: var(--text-color-right);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 28px;
    border-left:  3px solid #A5A3A3;
    padding-left: 8px;
} 
/* education section */
.right-container .education-school-1,
.right-container .education-school-2{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    width: 100%;
    margin-bottom: 36px;
}
.education-container{
    margin: 94px 0;
}
.education-container #education{
    color:#70C6C7;
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
    text-transform: uppercase;
}
.education-container .education-left,
.education-container .education-right{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 38px;
}
.education-container #education-company-name{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.education-container #education-time-period{
    color: var(--text-color-right);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
}
.education-container #education-position{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.education-container #education-description{
    color: var(--text-color-right);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 28px;
    border-left:  3px solid #A5A3A3;
    padding-left: 8px;
}
/* certificates section */

.right-container .certificates-school-1,
.right-container .certificates-school-2{
    display: flex;
    flex-direction: row;
    align-items:baseline;
    width: 100%;
    margin-bottom: 36px;
}
.certificates-container{
   margin-bottom: 96px;
}
.certificates-container #certificates{
    color:#70C6C7;
    font-style: normal;
    font-weight: 400;
    font-size: 4em;
    text-transform: uppercase;
}
.certificates-container .certificates-left,
.certificates-container .certificates-right{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 38px;
}
.certificates-container #certificates-company-name{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.certificates-container #certificates-time-period{
    color: var(--text-color-right);
    font-style: normal;
    font-weight: 400;
    font-size: 1.8em;
}
.certificates-container #certificates-position{
    color: var(--title-color);
    font-style: normal;
    font-weight: 400;
    font-size: 2.5em;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.certificates-container #certificates-description{
    color: var(--text-color-right);
    font-style: normal;
    font-weight: 400;
    font-size: 1.6em;
    line-height: 28px;
    border-left:  3px solid #A5A3A3;
    padding-left: 8px;
}

@media screen and (max-width:1268px) {
    .resume-container {
        height: 100%;
        width: 96%;
        margin: 2rem auto;
        display: flex;
        flex-direction: column; 
    }
    .resume-container .left-container{
        width: 100%;
        background-color:#00204A;
        display: flex;
        flex-direction: column;
        align-items:center;
        padding: 0 5%;
    }
    .contact-container #title,
    .contact-container ul,
    .skills-container ul{
        text-align: center;
    }
    .resume-container .right-container{
        width: 100%;
        background-color:#4B6982;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 0px;
        padding: 0 32px;
    }
}